<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
    <body>
        <h1>REGISTER</h1>
        <h1>이곳은 레지스터입니다</h1>
        <br>
        <p>sitemap</p>
        <p>로그인</p>
        <p><a href="{% url 'signup' %}">회원가입</a></p>
        <br>
        <p>동아리 소개</p> 
        <p>알림마당</p>
        <p>우리의 역사</p>
        <p>게시판</p>
        <br>
        <p>동아리 뉴스</p>
        <br>
        <p><a href="{% url 'privacy_policy' %}">개인정보 처리방침</a></p>
        <p><a href="{% url 'minigame' %}">미니게임</a></p>
        <br>
        <p>MADE BY REGISTER</p>
    </body>
</html>
