<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>레지스터 방명록</title>
    <link rel="stylesheet" href="guestbook\static\guestbook.css">
</head>

<body>

    <div class="guestbook-container">

        <h1>레지스터 방명록</h1>

        <!-- 글쓰기 -->
        <section class="write-box">

            <textarea placeholder="게시글을 적어주세요."></textarea>

            <button type="button">
                등록하기
            </button>

        </section>

        <!-- 게시글 리스트 -->
        <section class="post-list">

        </section>

    </div>

    <script src="guestbook\static\guestbook.js"></script>

</body>
</html>